$background-color-dark-1: #111111;
$background-color-dark-2: #181818;
$text-color-white-1: #ffffff;
$text-color-white-2: #fffcfc;
$font-size-small: 1.6rem;
$font-size-medium: 2.4rem;
$font-size-large: 3.2rem;
$font-family-base: "Inter", serif;
$background-color-red: #df0712;

html {
    font-size: 62.5%;
}

*,
body {
    font-family: $font-family-base;
    color: $text-color-white-1;
}

@mixin generate-flex-properties(
    $flex-direction: null,
    $justify-content: null,
    $align-items: null,
    $flex-wrap: null,
    $gap: null
) {
    display: flex;

    @if $flex-direction != null {
        flex-direction: $flex-direction;
    }

    @if $justify-content != null {
        justify-content: $justify-content;
    }

    @if $align-items != null {
        align-items: $align-items;
    }

    @if $flex-wrap != null {
        flex-wrap: $flex-wrap;
    }

    @if $gap != null {
        gap: $gap * 1rem;
    }
}

.button-default {
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.5rem;
    font-size: $font-size-medium;
    cursor: pointer;
    transition: background-color 0.5s;
    font-weight: 600;

    @media screen and (max-width: 768px) {
        padding: 0.5rem 1rem;
        font-size: $font-size-small;
    }
}

@mixin create-hover-effect($type) {
    @if $type == "darken" {
        &:hover {
            background-color: darken($background-color-red, 20%);
        }
    } @else if $type == "lighten" {
        &:hover {
            background-color: lighten($background-color-dark-2, 20%);
        }
    }
}

header {
    background-color: $background-color-dark-1;
    padding: 2rem 4rem;
    @include generate-flex-properties(
        $justify-content: space-between,
        $align-items: center
    );

    .logo {
        @include generate-flex-properties(
            $justify-content: center,
            $align-items: center
        );

        img {
            width: 20rem;
            height: 8rem;
        }
    }

    nav {
        @include generate-flex-properties($align-items: center, $gap: 2);

        .button-access {
            @extend .button-default;
            background-color: $background-color-red;
            @include create-hover-effect("darken");
        }

        .button-login {
            @extend .button-default;
            background-color: $background-color-dark-2;
            @include create-hover-effect("lighten");
            border: 0.1rem solid $text-color-white-2;
        }
    }
}

main {
    background-color: $background-color-dark-2;
    padding: 4rem 5%;
    @include generate-flex-properties(
        $flex-direction: column,
        $align-items: center,
        $gap: 4
    );

    @include generate-flex-properties(
        $flex-direction: column,
        $align-items: center
    );

    header {
        width: 100%;
        padding: 0 2.5%;
        @include generate-flex-properties(
            $justify-content: space-between,
            $align-items: center
        );
        background-color: $background-color-dark-2;

        .title {
            @include generate-flex-properties($flex-direction: column, $gap: 2);

            h1 {
                font-size: $font-size-large;
                font-weight: 700;
            }

            h2 {
                font-size: $font-size-large;
            }
        }

        .timmy {
            img {
                width: 12.5rem;
                height: 12.5rem;
            }
        }
    }

    .episodes {
        width: 100%;
        padding: 0 2.5%;
        @include generate-flex-properties($justify-content: space-between);

        .card-episode {
            width: 30%;
            @include generate-flex-properties($flex-direction: column, $gap: 2);

            .card-image {
                @include generate-flex-properties(
                    $justify-content: center,
                    $align-items: center
                );

                img {
                    width: 100%;
                }
            }

            .card-info {
                @include generate-flex-properties(
                    $flex-direction: column,
                    $gap: 1
                );
                line-height: 1.5;

                h3 {
                    font-size: $font-size-medium;
                    font-weight: 700;
                }

                p {
                    font-size: $font-size-small;
                }
            }
        }
    }
}

@media screen and (max-width: 1080px) {
    main {
        .episodes {
            @include generate-flex-properties(
                $flex-wrap: wrap,
                $gap: 4,
                $justify-content: center
            );

            .card-episode {
                width: 45%;

                @include generate-flex-properties($gap: 4);
            }
        }
    }
}

@media screen and (max-width: 768px) {
    header {
        .logo {
            img {
                width: 15rem;
                height: 6rem;
            }
        }
    }

    main header {
        .title {
            h1 {
                font-size: $font-size-medium;
            }

            h2 {
                font-size: $font-size-medium;
            }
        }

        .timmy {
            img {
                width: 10rem;
                height: 10rem;
            }
        }
    }
}

@media screen and (max-width: 540px) {
    header {
        @include generate-flex-properties($flex-direction: column, $gap: 2);

        nav {
            @include generate-flex-properties(
                $gap: 0,
                $justify-content: space-around
            );
            width: 100%;
        }
    }

    main {
        header {
            padding: 0;

            .title {
                text-align: center;
            }
        }

        .episodes {
            @include generate-flex-properties(
                $flex-direction: column,
                $gap: 4,
                $flex-wrap: auto,
                $align-items: center,
                $justify-content: center
            );

            .card-episode {
                width: 80%;
            }
        }
    }
}
